.CodeMirror {
    height: 600px !important;
  }

  .CodeMirror-fullscreen {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    height: auto;
    z-index: 9;
  }

  .gdcp-version-box {
    font-size: 12px;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 8px;
    background-color: #00b2ff;
    color: white;
    border-radius: 2px;
    text-decoration: none;
  }